<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
       <nav>
            <div>
                <h1 class="title">My Healthy Food Quest</h1>
            </div>
            <div class="links">
                    <a href="/">My story</a>
                    <a href="#">Projects</a>
                    <a href="#">Contact</a>
             </div>
            <svg
          width="44"
          height="18"
          viewBox="0 0 44 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            class="line"
            y1="1"
            x2="44"
            y2="1"
            stroke="white"
            stroke-width="2"
          />
          <line
            class="line"
            y1="9"
            x2="27"
            y2="9"
            stroke="white"
            stroke-width="2"
          />
          <line
            class="line"
            y1="17"
            x2="11"
            y2="17"
            stroke="white"
            stroke-width="2"
          />
            </svg>
       </nav>        
    </header>
    
    <main>
        <section data-index="0" class="home">
            <svg class="logo" width="872" height="105" viewBox="0 0 872 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_1_4)">
                <path d="M56.784 3.78396V69.704C56.784 77.0426 54.5227 82.9306 50 87.368C45.4773 91.72 39.504 93.896 32.08 93.896C24.5707 93.896 18.5547 91.6773 14.032 87.24C9.50932 82.7173 7.24799 76.5733 7.24799 68.808H18.896C18.9813 73.16 20.0907 76.7013 22.224 79.432C24.4427 82.1626 27.728 83.528 32.08 83.528C36.432 83.528 39.6747 82.248 41.808 79.688C43.9413 77.0426 45.008 73.7146 45.008 69.704V3.78396H56.784Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M132.467 73.16H93.555L86.387 93H74.099L106.355 4.29596H119.795L151.923 93H139.635L132.467 73.16ZM129.139 63.688L113.011 18.632L96.883 63.688H129.139Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M212.957 93L191.709 56.52H177.629V93H165.981V3.78396H194.781C201.522 3.78396 207.197 4.93596 211.805 7.23996C216.498 9.54396 219.997 12.6586 222.301 16.584C224.605 20.5093 225.757 24.9893 225.757 30.024C225.757 36.168 223.965 41.5866 220.381 46.28C216.882 50.9733 211.592 54.088 204.509 55.624L226.909 93H212.957ZM177.629 47.176H194.781C201.096 47.176 205.832 45.64 208.989 42.568C212.146 39.4106 213.725 35.2293 213.725 30.024C213.725 24.7333 212.146 20.6373 208.989 17.736C205.917 14.8346 201.181 13.384 194.781 13.384H177.629V47.176Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M255.504 13.256V43.08H288.016V52.68H255.504V83.4H291.856V93H243.856V3.65596H291.856V13.256H255.504Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M337.257 3.78396C346.985 3.78396 355.39 5.61862 362.473 9.28796C369.641 12.872 375.102 18.0346 378.857 24.776C382.697 31.5173 384.617 39.4533 384.617 48.584C384.617 57.7146 382.697 65.6506 378.857 72.392C375.102 79.048 369.641 84.168 362.473 87.752C355.39 91.2506 346.985 93 337.257 93H309.481V3.78396H337.257ZM337.257 83.4C348.777 83.4 357.566 80.3706 363.625 74.312C369.684 68.168 372.713 59.592 372.713 48.584C372.713 37.4906 369.641 28.8293 363.497 22.6C357.438 16.3706 348.692 13.256 337.257 13.256H321.129V83.4H337.257Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M486.842 73.16H447.93L440.762 93H428.474L460.73 4.29596H474.17L506.298 93H494.01L486.842 73.16ZM483.514 63.688L467.386 18.632L451.258 63.688H483.514Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M548.132 3.78396C557.86 3.78396 566.265 5.61862 573.348 9.28796C580.516 12.872 585.977 18.0346 589.732 24.776C593.572 31.5173 595.492 39.4533 595.492 48.584C595.492 57.7146 593.572 65.6506 589.732 72.392C585.977 79.048 580.516 84.168 573.348 87.752C566.265 91.2506 557.86 93 548.132 93H520.356V3.78396H548.132ZM548.132 83.4C559.652 83.4 568.441 80.3706 574.5 74.312C580.559 68.168 583.588 59.592 583.588 48.584C583.588 37.4906 580.516 28.8293 574.372 22.6C568.313 16.3706 559.567 13.256 548.132 13.256H532.004V83.4H548.132Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M663.592 73.16H624.68L617.512 93H605.224L637.48 4.29596H650.92L683.048 93H670.76L663.592 73.16ZM660.264 63.688L644.136 18.632L628.008 63.688H660.264Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M787.602 4.42396V93H775.954V26.952L746.514 93H738.322L708.754 26.824V93H697.106V4.42396H709.65L742.418 77.64L775.186 4.42396H787.602Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                <path d="M835.644 93.896C829.756 93.896 824.465 92.872 819.772 90.824C815.164 88.6906 811.537 85.7893 808.892 82.12C806.247 78.3653 804.881 74.056 804.796 69.192H817.212C817.639 73.3733 819.345 76.9146 822.332 79.816C825.404 82.632 829.841 84.04 835.644 84.04C841.191 84.04 845.543 82.6746 848.7 79.944C851.943 77.128 853.564 73.544 853.564 69.192C853.564 65.7786 852.625 63.0053 850.748 60.872C848.871 58.7386 846.524 57.1173 843.708 56.008C840.892 54.8986 837.095 53.704 832.316 52.424C826.428 50.888 821.692 49.352 818.108 47.816C814.609 46.28 811.58 43.8906 809.02 40.648C806.545 37.32 805.308 32.8826 805.308 27.336C805.308 22.472 806.545 18.1626 809.02 14.408C811.495 10.6533 814.951 7.75196 819.388 5.70396C823.911 3.65596 829.073 2.63196 834.876 2.63196C843.239 2.63196 850.065 4.72263 855.356 8.90396C860.732 13.0853 863.761 18.632 864.444 25.544H851.644C851.217 22.1306 849.425 19.144 846.268 16.584C843.111 13.9386 838.929 12.616 833.724 12.616C828.86 12.616 824.892 13.896 821.82 16.456C818.748 18.9306 817.212 22.4293 817.212 26.952C817.212 30.1946 818.108 32.84 819.9 34.888C821.777 36.936 824.039 38.5146 826.684 39.624C829.415 40.648 833.212 41.8426 838.076 43.208C843.964 44.8293 848.7 46.4506 852.284 48.072C855.868 49.608 858.94 52.04 861.5 55.368C864.06 58.6106 865.34 63.048 865.34 68.68C865.34 73.032 864.188 77.128 861.884 80.968C859.58 84.808 856.167 87.9226 851.644 90.312C847.121 92.7013 841.788 93.896 835.644 93.896Z" stroke="white" stroke-width="5" shape-rendering="crispEdges"/>
                </g>
                <defs>
                <filter id="filter0_d_1_4" x="0.747986" y="0.131958" width="871.092" height="104.264" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_4"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_4" result="shape"/>
                </filter>
                </defs>
                </svg>
        </section>
        
        <section data-index="1" class="about">
        <div class="bio">
            <img src="https://i.postimg.cc/sDPf32cy/j-removebg-preview-1.png" class="cook">
            <div class="text-container">
            <p>
                Jared attended the Art Institute of New York, where he graduated with a degree in Culinary Arts
                & Restaurant Management. Post graduation, he worked with several well-
                known chefs in kitchens, bars and restaurants throughout New York City, one of the
                culinary capitals of the world.
            </p>
            </div>         
        </div>
        </section>  

        <section data-index="2" class="projects">
            <div class="bio2">
            <p>
                His passion for cooking started when he was very young, watching his mother make innovative dishes and cultural themed recipes from his home country of Trinidad. The aroma and passion that came from his mother’s home cooking inspired Jared from an early age to start his exploration journey with food
                and interest in better understanding how certain ingredients come to life when executed properly and infused with love and excitement in the process. 
                
                As a classically-trained chef, Jared loves to create new culinary creations and learn new ways to
                make food a euphoric experience. He takes a sustainable approach to new dishes, repurposing
                all elements of every ingredient he uses to bring his culinary creations to life.
                
                Jared currently lives in Los Angeles.  He is obsessed with information technology, gardening, dehydrating different types of food and making healthy juices . When he is not cooking, Jared loves spending his time in the outdoors, hiking, working out,  jiu-jitsu, reading and gardening. His approach to cooking is to use food as a way of healing the body and show his clients the power that food has to transform mind, body and soul.
            </p>
        </div>
        </section>

        <section data-index="3" class="contact">
                <h2>
                    Lets do something together? Get in touch for questions, recepies, or partnerships by finding me down below! 
                </h2>
                <div class="icon-container">
                    <a href="https://www.tiktok.com/@myhealthyfoodquest?lang=en"><i class="fab fa-tiktok"></i></a>
                    <a><i class="fa-brands fa-instagram"></i></a>
                    <a><i class="fa-sharp fa-regular fa-envelope"></i></a>
                    <a><i class="fa-brands fa-twitter"></i></a>
                </div>
        </section>
    </main>
    
    <footer>

    </footer>

        <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
    integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
        ></script>
        <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
    integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
        ></script>
        <script src="/app.js"></script>
</body>
</html>